
.profile{
  display: flex;
  flex-direction: row;
}

.profile-left-block {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 20%;
}

.profile-back-btn{
  width: 100px;
  height: 100px;
  border-radius: 0 100% 100% 0;
  margin-left: -50px;
  border: none;
  background-color: #CEA100;
  cursor: pointer;
}

.profile-back-btn__icon {
  margin-left: 30px;
  border: solid white;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.profile-back-btn:focus,
.profile-back-btn:hover{
  opacity: 0.8;
  outline-width: 0;
}

.profile-center-block{
  display: flex;
  flex-direction: column;
  width: 59%;
  height: 100vh;
}

.profile-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
}

.profile-avatar{
  border-radius: 50%;
  background-color: #C4C4C4;
  width: 110px;
  height: 110px;
}

.profile-user-name{
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
}

.profile-avatar:hover{
  opacity: 0.8;
  cursor: pointer;
}

.profile-avatar__content{
  width: 80%;
  height: 100%;
}

.profile-avatar__image{
  width: 120%;
}

.profile-avatar__text{
  display: none;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: absolute;
}

.profile-avatar:hover .profile-avatar__text, .profile-avatar__content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.profile-form-block{
  display: flex;
  justify-content: center;
  height: 40%;
}

.profile-form-wrapper{
  width: 70%;
}

.profile-form{
  font-family: 'Open Sans', sans-serif;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-form-item__input{
  border: none;
  width: 75%;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  border-bottom: 1px solid #C4C4C4;
}

.profile-form-item__input:focus, .profile-form-item__input:hover {
  background-color: #C4C4C4;
  border-radius: 5px;
  border-color: #C4C4C4;
  cursor: pointer;
}

.profile-form-item__input:focus{
  text-align: left;
  outline-width: 0;
}

.profile-form-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profile-button-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}

.profile-right-empty-block{
  width: 20%;
  height: 100vh;
}

.profile-exit-btn{
  margin-bottom: 1%;
  color: #FF0000;
  font-size: 15px;
  font-weight: 500;
}

.upload-avatar-modal-shadow {
  display: flex;
  justify-content: center;
  align-items: center;

  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  background: rgba(160, 160, 160, 0.5);
}

.upload-avatar-modal{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: unset;

  height: 300px;
  width: 450px;
  background-color: white;
  border-radius: 10px;
}

.upload-avatar-modal-header{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 600;
  font-size: 15px;
}

.upload-avatar-modal-change-btn{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10%;
}

.upload-avatar-modal-browse-label{
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  color: #CEA100;
  cursor: pointer;
}

.upload-avatar-modal-browse-input{
  display: none;
}

