
body{
  padding: 0;
  margin: 0;
}

.signin-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin{
  width:400px;
  height: 460px;
  text-align: center;
  background: #F0F0F0;
  border-radius: 10px;
}

.signin-header{
  display: inline-block;
  margin: 34px 0 0 0;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
}

.signin-form{
  display: inline-block;
  margin: 35px 0 0 0;
}



.signin-form__login-input, .signin-form__password-input{
  width: 306px;
  height: 30px;
  margin: 10px 0;

  border: none;
  border-bottom: 1px solid #C4C4C4;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: #F0F0F0;
}

.signin-form__login-input:focus,
.signin-form__password-input:focus{
  outline-width: 0;
}

.signin-form__submit-btn{
  width: 308px;
  height: 52px;
  left: 48px;
  top: 302px;
  margin: 84px 0 0 0;
}

.signin-registration-btn{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin: 23px 0 0 0;

  font-size: 17px;
  font-weight: 400;

  color: #CEA100;
  background: none;
  border: none;
  cursor: pointer;
}

.signin-registration-btn{
  outline-width: 0;
}
