body{
  padding: 0;
  margin: 0;
}

.messenger-button{
  width: 308px;
  height: 52px;

  background: #CEA100;
  border-radius: 10px;
  border: none;

  color: #FFF;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.messenger-button:hover,
.messenger-button:focus{
  border: none;
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  outline-width: 0;
}

.messenger-button_no-background{
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #CEA100;

  background: none;
  border: none;
  cursor: pointer;
}

.messenger-button_no-background:focus{
  outline-width: 0;
}

.form-input{
  border: none;
  border-bottom: 1px solid #C4C4C4;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: #F0F0F0;
}

/*.icon-trash{*/
/*  background-image: url("../images/trash.svg");*/
/*}*/

/*.icon-minus{*/
/*  background-image: url("../images/minus.svg");*/
/*}*/

/*.icon-plus{*/
/*  background-image: url("../images/plus.svg");*/
/*}*/

/*.icon-photo{*/
/*  background-image: url("../images/camera.svg");*/
/*}*/

/*.icon-file{*/
/*  background-image: url("../images/file.svg");*/
/*}*/

.form-item-block-validated{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input-validation-message{
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #FF0000;
  position: absolute;
  margin-top: 40px;
}
